.navbar {
    background-color: #060b26;
    /* height: 80px; */
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: none;
}

.nav-menu-items {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    padding: 0.5rem 0px;
    list-style: none;
}

.nav-text a {
    text-decoration: none;
    color: #060b26;
    font-size: 18px;
}

.nav-text a:hover {
    color: grey;
}

.navbar-toggle {
  background-color: #060b26;
}

span {
  margin-left: 16px;
}